body {
	font-family: Arial, "Microsoft YaHei";
	font-size: 16px;
}

.row, .cfx {
    +zoom; 1;
}

.row:after, .cfx:after {
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
    clear: both;
    font-size: 0;
    visibility: hidden;
}

.hide {
    display: none;
}

.hitx {
    text-indent: -9999em;
}

.canvas {
    background: transparent url(../images/bg.png) repeat left top;
}

.blog-header {
    line-height: 24px;
    text-align: center;
}

.blog-header h1 {
    display: inline-block;
    +display: inline;
    +zoom: 1;
    width: 500px;
    line-height: 300px;
    background: transparent url(../images/logo.png) no-repeat left top;
}

.blog-header h2 {
    position: relative;
    margin-top: -64px;
    width: 100%;
    float: left;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

