body {
    background: transparent url(../images/bg.png) repeat left top;
    color: #333;
	font-family: Arial, "Microsoft YaHei";
	font-size: 16px;
}

a, a:hover {
    text-decoration: none;
}

.row, .cfx {
    +zoom; 1;
}

.row:after, .cfx:after {
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
    clear: both;
    font-size: 0;
    visibility: hidden;
}

.hide {
    display: none;
}

.hitx {
    text-indent: -9999em;
}

.ac {
    margin-left: auto;
    margin-right: auto;
}

.fx-300 {
    -webkit-transition: all 300ms ease;
            transition: all 300ms ease;
}

.fx-500 {
    -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
}

.canvas {
}

.page_header {
    padding-bottom: 100px;
    line-height: 24px;
    text-align: center;
}

.page_header h1 {
    line-height: 250px;
    background: transparent url(../images/logo.png) no-repeat center bottom;
}

.page_header h2 {
    position: relative;
    margin-top: -60px;
    width: 100%;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.page_header .ph_nav li {
    display: inline-block;
    +display: inline;
    +zoom: 1;
}

.page_header .ph_nav a {
    position: relative;
    display: block;
    padding: 0 10px;
    width: 100px;
    color: #333;
}

.page_header .ph_nav a:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    display: block;
    margin-top: -6px;
    border: 6px solid transparent;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;

    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;

    border-left-color: #333;
    opacity: 0;
}

.page_header .ph_nav a:hover {
    color: #c00;
    text-decoration: underline;
}

.page_header .ph_nav a:hover:after {
    border-left-color: #c00;
    opacity: 1;
}

.page_footer {
    padding-top: 200px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
}

.page_footer .pf_sns {
    font-weight: bold;
    text-transform: uppercase;
}

.page_footer .pf_sns a {
    display: inline-block;
    +display: inline;
    +zoom: 1;
    margin: 0 10px;
    padding: 0 20px;
}

.page_footer .pf_sns a:hover {
    color: #c00;
}

.page_footer .pf_sns .fa {
    display: block;
    line-height: 60px;  
    font-size: 56px;
}

.page_footer .pf_copy {
    color: #999;
    font-size: 12px;
}

.page_content code {
    font-size: 13px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.page_content .highlight {
    margin: 10px;
}

.page_content .highlight code {
    display: block;
    overflow: auto;
}


/* project */

.project {
    text-align: center;
    color: white;
}

.project img {
    display: block;
    width: 100%;
    height: 100%;
}

.project ul {
    font-size: 0;
}

.project li {
    position: relative;
    z-index: 1;
    display: inline-block;
    +display: inline;
    +zoom: 1;
    border-radius: 100%;
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin: 0 20px;
}

.project li div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.project li p {
    width: 100%;
    height: 100%;
    line-height: 20px;
    font-size: 15px;
}

.project .proj_name {
    position: relative;
    top: 100px;
    margin-top: -40px;
    width: 100%;
    line-height: 40px;
    float: left;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    text-transform: uppercase;
    opacity: 1;
}

.project .proj_shadow {
    position: relative;
    margin-top: -160px;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    float: left;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;

    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
}

.project .proj_intro {
    margin-top: -10px;
    opacity: 0;
}

.project .proj_intro a {
    display: table;
    width: 100%;
    height: 100%;
}

.project .proj_intro span {
    display: table-cell;
    vertical-align: middle;
}

.project li:hover .proj_name {
    opacity: 0;
}

.project li:hover .proj_intro {
    margin-top: 0;
    opacity: 1;
}

.project li:hover .proj_shadow {
    opacity: 0.5;

    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
}


/* about */

.about {
    padding: 20px 0;
    line-height: 30px;
    background-color: white;
    box-shadow: 0 0 1px rgba(0,0,0,0.4);
}

.about .about_inner {
    width: 330px;
}


/* avatar */

.avatar {
    padding-bottom: 20px;
    text-align: center;
}

.avatar img {
    display: block;
    width: 100%;
    height: 100%;
}

.avatar span {
    position: relative;
    z-index: 1;
    display: inline-block;
    +display: inline;
    +zoom: 1;
    border-radius: 100%;
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin: 0 20px;
}


/* toolbar */

.toolbar {
    position: relative;
    z-index: 10;
    padding: 12px 0;
    border-bottom: 3px solid #c00;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.toolbar button,
.toolbar input,
.toolbar select {
    display: inline-block;
    +display: inline;
    +zoom: 1;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    vertical-align: top;
}

.toolbar button {
    margin-left: 5px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 19px;
    color: white;
    background: none;
    cursor: pointer;
}

.toolbar input {
    padding: 2px;
    width: 176px;
    height: 24px;
    line-height: 24px;
}

.toolbar select {
    width: 180px;
    height: 28px;
    line-height: 28px;
}

.toolbar h3 {
    line-height: 28px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.toolbar .tb_search-input {
    padding-right: 28px;
    width: 150px;
}

.toolbar .tb_search-btn {
    margin-left: -28px;
    color: #999;
}

.toolbar .tb_inner {
    width: 360px;
    padding: 0 300px;
}

.toolbar .tb_side {
    width: 300px;
}

.toolbar .tb_mid {
    width: 100%;
    float: left;
    text-align: center;
}

.toolbar .tb_left {
    margin-left: -300px;
    float: left;
    text-align: left;
}

.toolbar .tb_right {
    margin-right: -300px;
    float: right;
    text-align: right;
}


/* excerpt */

.excerpt {
    position: relative;
    padding: 20px 0;
    line-height: 20px;
    background-color: white;
    color: #999;
    font-size: 13px;
    box-shadow: 0 0 1px rgba(0,0,0,0.4);
}

.excerpt:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    display: block;
    margin-left: -2px;
    width: 4px;
    background-color: #ccc;
}

.excerpt h3 {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.excerpt h3 a {
    color: #333;
}

.excerpt h3 a:hover {
    color: #c00;
}

.excerpt ul {
    width: 100%;
}

.excerpt li {
    position: relative;
    padding: 20px 0;
}

.excerpt li:after {
    content: '';
    position: absolute;
    top: 25px;
    display: block;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: #999;

    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.excerpt li:hover:after {
    background-color: #c00;
}

.excerpt .expt_date {
    position: absolute;
    z-index: 1;
    top: -2px;
    display: block;
    border-radius: 3px;
    width: 100px;
    text-align: center;
    background-color: #c00;
    color: white;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;

    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
}

.excerpt .expt_date:after {
    content: '';
    position: absolute;
    bottom: -10px;
    border: 5px solid transparent;
    border-top-color: #c00;
    width: 0;
    height: 0;
}

.excerpt li:hover .expt_date {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.excerpt .expt_list-left {
    margin-left: -500px;
    float: left;
}

.excerpt .expt_list-left li:after {
    right: -25px;
}

.excerpt .expt_list-left .expt_date {
    right: -90px;
}

.excerpt .expt_list-left .expt_date:after {
    left: 50%;
    margin-left: -25px;
}

.excerpt .expt_list-right {
    float: right;
}

.excerpt .expt_list-right li:after {
    left: -25px;
}

.excerpt .expt_list-right .expt_date {
    left: -90px;
}

.excerpt .expt_list-right .expt_date:after {
    right: 50%;
    margin-right: -25px;
}

.excerpt .expt_tag {
    padding: 0;
    border-radius: 5px;
    min-height: 160px;
    background-color: #eee;
}

.excerpt .expt_tag:after {
    display: none;
}

.excerpt .expt_tag p {
    padding: 10px;
}

.excerpt .expt_tag span {
    position: relative;
    display: inline-block;
    +display: inline;
    +zoom: 1;
    margin: 10px 10px 2px 2px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #ccc;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.excerpt .expt_tag sup {
    display: block;
    margin-top: -12px;
    margin-right: -14px;
    padding: 0 4px;
    border-radius: 10px;
    line-height: 16px;
    float: right;
    background: #c00;
    color: white;
    font-size: 12px;
}

.excerpt .expt_inner {
    padding-left: 500px;
    width: 460px;
}


/* post */

.post {
    padding: 20px 0;
    line-height: 30px;
    background-color: white;
    font-size: 15px;
    box-shadow: 0 0 1px rgba(0,0,0,0.4);
}

.post header {
    margin-bottom: 30px;
}

.post h3 {
    margin-top: 20px;
    font-size: 34px;
    line-height: 46px;
}

.post .post_content {
    color: #666;
}

.post .post_content h4,
.post .post_content code {
    color: #333;
}

.post .post_content h4 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 36px;
}

.post .post_content code {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f8f8f8;
}

.post .post_content a {
    text-decoration: underline;
}

.post .post_content a:hover {
    color: #c00;
}

.post .post_content p {
    margin: 10px 0;
}

.post .post_content p code {
    margin: 0 2px;
    padding: 0px 5px;
    white-space: nowrap;
}

.post .post_content p em,
.post .post_content p strong {
    font-weight: bold;
}

.post .post_content ul,
.post .post_content ol {
    padding-left: 40px;
}

.post .post_content li {
    position: relative;
}

.post .post_content li:before {
    content: '';
    position: absolute;
    left: -23px;
    top: 50%;
    display: block;
    margin-top: -3px;
    border-radius: 100%;
    width: 6px;
    height: 6px;
    background-color: #333;
}

.post .post_content li code {
    margin: 0 2px;
    padding: 0px 5px;
    white-space: nowrap;
}

.post .post_date {
    display: block;
    color: #aaa;
    font-size: 13px;
}

.post .post_comment {
    padding: 50px 0;
}

.post .post_inner {
    width: 960px;
}