body {
    background: transparent url(../images/bg.png) repeat left top;
	font-family: Arial, "Microsoft YaHei";
	font-size: 16px;
}

.row, .cfx {
    +zoom; 1;
}

.row:after, .cfx:after {
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
    clear: both;
    font-size: 0;
    visibility: hidden;
}

.hide {
    display: none;
}

.hitx {
    text-indent: -9999em;
}

.canvas {
}

.blog-header {
    padding-bottom: 50px;
    line-height: 24px;
    text-align: center;
}

.blog-header h1 {
    display: inline-block;
    +display: inline;
    +zoom: 1;
    width: 500px;
    line-height: 300px;
    background: transparent url(../images/logo.png) no-repeat left center;
}

.blog-header h2 {
    position: relative;
    margin-top: -100px;
    width: 100%;
    float: left;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.blog-footer {
    padding-top: 100px;
    color: #333;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
}

.blog-footer .sns {
    font-weight: bold;
    text-transform: uppercase;
}

.blog-footer .sns a {
    display: inline-block;
    +display: inline;
    +zoom: 1;
    margin: 0 10px;
    padding: 0 20px;
    text-decoration: none;
}

.blog-footer .sns a:hover {
    color: #c00;
}

.blog-footer .sns .fa {
    display: block;
    line-height: 60px;  
    font-size: 56px;
}

.blog-footer .copy {
    color: #999;
    font-size: 12px;
}

.blog-nav a {
    position: relative;
    display: inline-block;
    +display: inline;
    +zoom: 1;
    padding: 0 10px;
    width: 100px;
    text-decoration: none;
}

.blog-nav a:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    display: none;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left-color: #c00;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
}

.blog-nav a:hover {
    color: #c00;
}

.blog-nav a:hover:after {
    display: block;
}

.content code {
    font-size: 13px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.about {
    padding: 20px 0;
    line-height: 30px;
    background-color: white;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

.about .inner {
    margin: 0 auto; 
    width: 250px;
}

.post {
    padding: 20px 0;
    line-height: 30px;
    background-color: white;
    font-size: 15px;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

.post header {
    margin-bottom: 30px;
}

.post h3 {
    font-size: 28px;
    line-height: 36px;
}

.post h4 {
    margin: 20px 0;
    font-size: 34px;
    line-height: 46px;
}

.post p {
    margin: 10px 0;
    text-indent: 2em;
}

.post p code {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f8f8f8;
    white-space: nowrap;
}

.post .date {
    display: block;
    color: #aaa;
    font-size: 13px;
}

.post .highlight {
    margin: 10px;
}

.post .highlight pre {
    display: block;
    border-left: 3px solid #999;
    background-color: #eee;
}

.post .inner {
    margin: 0 auto; 
    width: 960px;
}
