---
layout: default
title: Blog
scripts: [sea, sea-config, blog]
---

<div class="row">
    
    <!-- post toolbar start -->
    <div id="post-toolbar" class="toolbar">
        <div class="tb_inner cfx ac">
            <div class="tb_left tb_side">
                <form>
                    <div><select id="category-list"></select></div>
                </form>
            </div>
            <div class="tb_right tb_side">
                <form>
                    <div><input class="tb_search-input" type="text"><button class="tb_search-btn"><i class="fa fa-search"></i></button></div>
                </form>
            </div>
            <div class="tb_mid">
                <h3>Latest</h3>
            </div>
        </div>
    </div>
    <!-- post toolbar end -->

</div>
<div class="row">

    <!-- post list start -->
    <div id="post-list" class="excerpt">
        <div class="expt_inner ac cfx">
            <ul class="expt_list-left"></ul>
            <div class="expt_tag"><p id="tag-list"></p></div>
            <ul class="expt_list-right"></ul>
            <div class="expt_comment">
                <!-- duoshuo comment start -->
                <div class="ds-thread" {% if page.id %}data-thread-key="/blog" {% endif %}data-title="{{ site.name }}{% if page.title %} | {{ page.title }}{% endif %}" data-form-position="top" data-order="desc"></div>
                <script type="text/javascript">
                    var duoshuoQuery = {
                        short_name: 'lizzz0523'
                    };

                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';
                        ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';

                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <!-- duoshuo comment end -->
            </div>
        </div>
    </div>
    <!-- post list end -->

</div>