.body {
    padding: 10px;
}

.canvas {
    width: auto;
}

.resume {
    padding: 0;
    line-height: 30px;
    font-size: 0.9rem;
}

.resume h3 {
    font-size: 1.2rem;
}

.resume td {
    padding: 0 4px;
}

.resume .resume_links {
    padding-left: 10px;
    text-align: left;
}

.resume .resume_links dt,
.resume .resume_links dd {
    display: block;
}

.resume .resume_links dt {
    padding-right: 5px;
    float: left;
}

.resume .resume_links dd {
    overflow: hidden;
}

.resume .resume_project {
    text-align: center;
}

.resume .resume_project span {
    display: block;
    padding-bottom: 10px;
    line-height: 20px;
}