body {
    background: url(../images/bg.png) repeat left top;
    background-attachment: fixed;
    -webkit-font-size-adjust: none;
}

.body {
    padding: 20px;
    color: #333;
    font-family: "Microsoft YaHei", Arial;
    font-size: 16px;
}

.canvas {
    margin: 0 auto;
    width: 800px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.resume {
    position: relative;
    margin-top: 150px;
    padding: 10px;
    line-height: 40px;
}

.resume a {
    text-decoration: underline;
}

.resume a:hover {
    color: #c00;
    text-decoration: none;
}

.resume h3 {
    padding: 20px 0;
    line-height: 40px;
    font-size: 34px;
    text-align: center;
}

.resume h4 {
    background-color: #ccc;
    font-size: 20px;
}

.resume table {
    width: 100%;
}

.resume th {
    background-color: #eee;
}

.resume td {
    padding: 0 10px;
}

.resume .resume_avatar {
    position: absolute;
    left: 50%;
    top: -130px;
    margin-left: -54px;
    border: 4px solid white;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.resume .resume_avatar img {
    width: 100%;
}

.resume .resume_links {
    padding-bottom: 20px;
    text-align: center;
}

.resume .resume_links dt,
.resume .resume_links dd {
    display: inline-block;
    +display: inline;
    +zoom: 1;
}

.resume .resume_links dd {
    padding-right: 20px;
}

.resume .resume_links a {
    display: block;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.resume .resume_links a:hover {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
}

.resume .resume_target tr {
    background-color: #ccc;
}

.resume .resume_info tr:nth-child(2n) {
    background-color: #eee;
}

.resume .resume_intro ul {
    padding-left: 10px;
}

.resume .resume_intro li {
    position: relative;
    padding-left: 20px;
}

.resume .resume_intro li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 14px;
    display: block;
    border: 6px solid transparent;
    border-left-color: #333;
    width: 0;
    height: 0;
}

.resume .resume_project span {
    color: #999;
    font-size: 13px;
}