---
layout: default
scripts: [sea, sea-config, post]
---

<div class="row">

    <!-- post start -->
    <div class="post">
        <div class="post_inner ac">
            <header>
                <h3>{{ page.title }}</h3>
                <span class="post_date">{{ page.date | date_to_string }}</span>
            </header>
            <div class="post_content">             
                {{ content }}
            </div>
            <div class="post_comment">
                <!-- duoshuo comment start -->
                <div class="ds-thread" {% if page.id %}data-thread-key="{{ page.id }}" {% endif %}data-title="{{ site.name }}{% if page.title %} | {{ page.title }}{% endif %}" data-form-position="top" data-order="desc"></div>
                <script type="text/javascript">
                    var duoshuoQuery = {
                        short_name: 'lizzz0523'
                    };

                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';
                        ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';

                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <!-- duoshuo comment end -->
            </div>
        </div>
    </div>
    <!-- post end -->

</div>